.cardsLayout {
  padding: 30px;
  background-color: #FFF;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(332px, 1fr));
  justify-items: center;
  overflow: auto;
}
