.rating {
  &__container {
    display: flex;
    align-items: center;
  }

  &__review {
    text-decoration: underline;
    margin-left: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
}
