* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #FFF;
    --color-button-background: #F5F5F7;
    --color-button-blue: #4056A1;
    --color-button-green: #00B177;


    --font: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
    --font-color: #2E2E33;
    --font-color-grey: #999999;
}


a {
    color: inherit;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}
